body {
  background-color: rgb(219, 219, 219);
  background-image: url("https://lh3.googleusercontent.com/gAJF-qBxbYYbpgRsw7WbQ_-nmbxWXMAJZCpJqUqVBNAqdS9LvFp2blXE-i0led09dJks_vlODNd2K2LKEI-gEpocMk82xKJHuosBAZcgKtf0TfV2xz6bGWrse7oPgUnk5nTw9_qIStotoNUvfRjia8OeVdwJOTkYzkcYy8rxxUNvFZvrj4bg97Kg8grIu_MtX7eNFRBITkw5Eeyds7NqGLob5R5H2WTVgcmPF6CtSo_WqE18K_dHhwEOYIJnTjNsM8XeTa_EkEgL8HBfdWLDsbhwkJS-dmwVHIh-V7DW3t1kXOjRRVAQ1k8J7QNvm0-mV1mGLhIt8dUTqYntOZnv-FedfnHUUZDzgWEAc9lNJ2tdz1x7NjKqVbCkIdyB_L70M790eDoKcvjEK7wEgr0cW617C1hcFAUYDIeNgkGECV2gWlJMQjMWV4gu71aZL5NiXRgE5pCyWQhDVuXwo5F7Goe9bffQrsb1YetPEW42hCpA-4TnpP5cb51kEwPLKjuq-9CDJaM-gaoRo1fK-Sg2vYlfkuJga8iyWc273dJ_5BPVP-zYfo9WQcO1pzQDFi26Qal8qpnMQIsnjdf0YSOoXuIw38TViZE2BKEqkbVU8r2EJjDoppJTdPQgCHBayJ82uf2dQDvTwNr02LIc_ARpjeeM7RwUVtH3PxYoWSrVzCKv4Fsoq5We1AKNZkXpinQJDzIS8Il44rPrAqiDn0-lI3B3=w2322-h1452-no")
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: rgb(87, 87, 87);
}

a:hover {
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(219, 219, 219);
}

.nav-links {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav-links > div {
  font-family: 'Roboto', serif;
  font-size: 2rem;
  margin-right: 2rem;
  transition: 0.3s;
  height: 100%;
}

.nav-links > div:hover {
  transform: translateY(-0.5rem);
}

.logo {
  font-family: 'Vesper Libre', serif;
  font-size: 3rem;
  margin-left: 1rem;
  transition: 1s;
}

.logo:hover {
  color: rgb(255, 255, 255);
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.blog-img {
  width: 100vw;
}

.tech-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tech-logo {
  height:10vh;
  margin-left: 2vw;
}

.tech-title {
  margin: 0;
  font-size: 3em;
  font-weight: 400;
}

.lax-title {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 2rem;
  z-index: 1;
}

.hero {
  width: 100vw;
}

.mist-title {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem; 
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.60);
  margin-left: 3rem;
}