body {
  background-color: #ffffff;
  color: rgb(54, 54, 54);
  margin-top: 5rem;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: black;
}

a:hover {
  /* color: white; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
} 

.nav-links {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav-links > div {
  font-family: 'Roboto', serif;
  font-size: 2rem;
  margin-right: 2rem;
  transition: 0.3s;
  height: 100%;
}

input {
  font-family: 'Roboto', serif;
  font-size: 2rem;
  background-color: #272824;
  color: white;
}

.logo {
  font-family: 'Vesper Libre', serif;
  font-size: 3rem;
  margin-left: 1rem;
  transition: 1s;
}

.logo:hover {
  color: rgb(255, 255, 255);
}


.hero {
  width: 100vw;
}

.card {
  display: flex;
  background-color: #ffffff;
  width: 60vw;
  margin: 0 auto;
  padding: 1rem;
}

.card-title {
  font-size: 3rem;
  display: inline;
}

.card-head {
  display: flex;
  align-items: center;
}

.card-body {
  display: flex;
}

.card-page {
  display:flex;
  align-items: flex-start;
}

.card-stats {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 25vw;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(223, 223, 223);
}

.card-icon {
  height: 2rem;
  margin-left: 1rem;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  justify-items: center;
}

/* Display name on thumbnail hover */
.img__wrap {
  position: relative;
  height: 20rem;
  width: 20rem;
  margin-bottom: 3rem;
}

.img__img {
  object-fit: cover;
  width:20rem;
  height:20rem;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(70, 70, 70, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  padding: 0.1rem;

  /* transition effect. not necessary */
  transition: opacity .4s, visibility .4s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}


/*Landing Page Styles */
.parallax4 {
  position: absolute;
  z-index:0;
}

.parallax-top {
  margin-top: -5rem;
}

.splash-link {
  position: absolute;
  margin-top: 40vh;
  margin-left: 50vw;
  border: 0.3rem solid white;
  padding: 2rem;
  font-size: 3.5rem;

  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  transition: 1s;
  z-index:1;
  transition: 1s;
  color: rgb(255, 255, 255);
  mix-blend-mode: screen;
  font-weight: bolder;
  text-align:center;
}

.splash-link:hover {
  mix-blend-mode: screen;
  background-color: rgba(255, 255, 255, 0.89);
  color: rgb(0, 0, 0);
}



.about-page {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
}
.about-page > img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.link-list {
  display: flex;
  justify-content: center;
  width: 60vw;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.link-list > div {
  border: 1px solid white;
  padding: 1rem;
}

.carousel img {
  width: 80vw;
  object-fit: contain;
}

.tooltipz {
  display:inline-block;
  position:relative;
  text-align:left;
}

.tooltipz .bottom {
  top:2.6rem;
  left:67%;
  transform:translate(-50%, 0);
  padding:10px;
  color:#444444;
  background-color:#EEEEEE;
  border-radius:8px;
  position:absolute;
  z-index:9;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltipz:hover .bottom {
  visibility:visible; opacity:1;
}

.tooltipz .bottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltipz .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.tooltip-list {
  
}

/* Fix the parallax for mobile/tablet display */
@media only screen and (max-width: 1160px) {  
  .hero {
    height: 110vh;
    object-fit: cover;
  }

  .splash-link {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .card-page{
    flex-direction: column;
  }

  .card-stats {
    width: 80vw;
  }

  .card {
    width: 80vw;
    margin-bottom: 1rem;
  }

}

@media only screen and (max-width: 675px) {

  body {
    margin-top:4rem;
  }
  .blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }

  .card-page{
    flex-direction: column;
  }

  .card-stats {
    width: 100vw;
  }

  .card {
    width: 100vw;
    margin-bottom: 0rem;
    border-top: none;
  }

  .about-page {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
  }
  .about-page > img {
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
  }

  .link-list {
    width: 90vw;  
  }

  .card-head {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-bottom: 0.4rem;
  }

  .card-icon {
    margin-left: 0;
    margin-right: 1rem;
  }

  .tooltipz .bottom {
    top:2.6rem;
    top: 130%;
    transform:translate(-20%, 0);
    padding:10px;
    color:#444444;
    background-color:#EEEEEE;
    border-radius:8px;
    position:absolute;
    z-index:9;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
  }

  .tooltipz .bottom i {
    position:absolute;
    bottom:100%;
    left:10%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
  }
  
  .tooltipz .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-30%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
  }
}




/* .bg{
  overflow:hidden;
  background:#c7e6fa;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.mountain, .mountain-two, .mountain-three {
  position: absolute;
  bottom: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 180px solid #23a82e;
  z-index: 1;
}
.mountain-two { 
  left: 80px;
  bottom: -20px;
  opacity: .3;
  z-index: 0;
}
.mountain-three {
  left: -60px;
  bottom:-10px;
  opacity: .5;
  z-index: 0;
}
.mountain-top {
  position: absolute;
  right: -65px;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 77px solid #f0f0f0;
  z-index: -1;
}
.mountain-cap-1, .mountain-cap-2, .mountain-cap-3 {
  position: absolute;
  top: 70px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #f0f0f0;
}
.mountain-cap-1 { left: -55px; }
.mountain-cap-2 { left: -25px; }
.mountain-cap-3 { left: 5px; }
.cloud, .cloud:before, .cloud:after {
position: absolute;
width: 70px;
height: 30px;
background: #f0f0f0;
-webkit-border-radius: 100px / 50px;
border-radius: 100px / 50px;
}
.cloud { 
bottom: 100px;
-webkit-animation: cloud 50s infinite linear;
        animation: cloud 50s infinite linear;
}
@-webkit-keyframes cloud {
  0%   { left: -100px; }
  100% { left: 1000px; } 
}
@keyframes cloud {

  0%   { left: -100px; }
  100% { left: 1000px; } 
}
.cloud:before {
content: '';
left: 50px;
}
.cloud:after {
content: '';
left: 25px;
top: -10px;
} */

.thumb {
  position: relative;
  z-index: -1;
}