body {
  background-color: rgb(219, 219, 219);
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: rgb(87, 87, 87);
}

a:hover {
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(219, 219, 219);
}

.nav-links {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav-links > div {
  font-family: 'Roboto', serif;
  font-size: 2rem;
  margin-right: 2rem;
  transition: 0.3s;
  height: 100%;
}

.nav-links > div:hover {
  transform: translateY(-0.5rem);
}

.logo {
  font-family: 'Vesper Libre', serif;
  font-size: 3rem;
  margin-left: 1rem;
  transition: 1s;
}

.logo:hover {
  color: rgb(255, 255, 255);
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}